<!DOCTYPE html>
<html lang="en">

<head>
    @@include("components/meta/meta.html")
    <title>@@title</title>
    <link rel="stylesheet" type="text/css" href="./css/common.css?v=@@version">
    <link rel="stylesheet" type="text/css" href="./css/@@page.css?v=@@version">
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="logo">LOGO</div>
            @@include("components/nav/nav.html",{ "nav":["诺诺磅客", "财神爷爷", "名校贷", "大房东", "麦芽分期"] })
        </div>
    </div>
