$bgColor50:#e3f2fd;
$bgColor100:#bbdefb;
$bgColor200:#90caf9;
$bgColor300:#64b5f6;
$bgColor400:#42a5f5;
$bgColor500:#2196f3;
$bgColor600:#1e88e5;
$bgColor700:#1976d2;
$bgColor800:#1565c0;
$bgColor900:#0d47a1;
$fColor50:#000000;
$fColor100:#000000;
$fColor200:#000000;
$fColor300:#000000;
$fColor400:#000000;
$fColor500:#ffffff;
$fColor600:#ffffff;
$fColor700:#ffffff;
$fColor800:#ffffff;
$fColor900:#ffffff;

$header-height:50px;
